
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="/script/script.js"></script>
    <script src="/script/appjs.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    </body>
</html>