<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0 " http-equiv="Expires"> -->
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">  

    
    
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar-title"><a href="/">G - TURF</a></div>
        <a class="toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="list-items"> 
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/weather" class="<%=wcls%>">Weather</a></li>
            

            <li><a href="/login" class="nav-login <%=licls%>"> LOGIN </a> </li>
            <li><a href="/" class="nav-login <%=locls%>"> LOGOUT </a> </li>
        </div>
    </nav>