
<%-include("partials/header",{wcls:wcls,licls:licls,locls:locls})-%>
    <div class="container">
        <div class="about details" style="border: 1px solid white;">
            <h2>Contact Details</h2>
            <div><label for="" style="font-size: 1.1rem; font-weight: bolder;">Name</label> <label for="" style="float: right; color: gray;">RYZEN FreeLancer</label></div>
            <div><label for="" style="font-size: 1.1rem; font-weight: bolder;">Email</label> <label for="" style="float: right;color: gray;">ryzenfreelancer@gmail.com</label></div>
            <div><label for="" style="font-size: 1.1rem;font-weight: bolder;">Mobile Number</label> <label for="" style="float: right;color: gray;">9856743540</label></div>
            <div><label for="" style="font-size: 1.1rem;font-weight: bolder;">Address</label> <label for="" style="float: right;color: gray;">
                <p style=" float: right;">1/6, Tn Shetty Lane, </p><br> 
                <p>Near Nambur Market,Chickpet, Bangalore - 560053</p>
                </label>
            </div>
        </div>
    </div>
<%-include("partials/footer")-%>