
<%-include("partials/header",{wcls:wcls,licls:licls,locls:locls})-%>
<div class="container">

    <div class="images">
        <div class="imgs1"><img src="/images/mainpg_images/turfimg1.jpg" alt="football" ></div>
        <div class="imgs2"><img src="/images/mainpg_images/turfimg2.jpg" alt="cricket" ></div>
        <div class="imgs2"><img src="/images/mainpg_images/turfimg3.jpg" alt="volleyball" ></div>
        <div class="imgs1"><img src="/images/mainpg_images/turfimg4.jpg" alt="basketball"></div>
    </div>
    
<%-include("partials/footer")-%>